
<div class="body">
  <div class="wrapper-i">
  <app-create-booking (create)="createBooking()"></app-create-booking>

  <mat-card *ngFor="let booking of bookings$ | async" class="mat-card-container">
    <div class="booking-info">
      <button mat-icon-button class="delete-button" (click)="delete(booking.id)">
        <i class='bx bxs-message-square-minus'></i>
      </button>
      <p class="booking-details">
        <strong>Prenotato per il giorno:</strong> {{ booking.date | date:'dd/MM/yyyy' }}<br>
        <strong>Ora:</strong> {{ booking.time }}<br>
        <strong>Numero di persone:</strong> {{ booking.number }}
      </p>
    </div>
  </mat-card>
</div>
</div>