mat-card {
    margin-bottom: 1em;
    font-size: 24px;
    button {
      float: right;
    }
    .booking-number {
      font-weight: bold;
    }
    .booking-date {
      font-size: 16px;
      font-style: italic;
    }
  }