<mat-toolbar >
  <span>
    <a routerLink="/">
      <span> <img src="https://i.imgur.com/Kdzk9Id.png" alt="Logo pizzeria" class="logo"></span>
    </a>
  </span>
  <span>

    <a
      *ngIf="isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/booking"
    >
      <span> Booking</span>
    </a>

        <a
        routerLink="/about-us"
        routerLinkActive="active-link"
    >
        <span>About Us</span>
    </a>

    <a
      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/login"
    >
      <span>Login</span>
    </a>
    <a
      *ngIf="isAuthenticated"
      (click)="logout()"
      routerLinkActive="active-link"
      routerLink="/login"
    >
      <span>Logout</span>
    </a>
    <a
      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/signup"
    >
      <span>Signup</span>
    </a>
  </span>
</mat-toolbar>