<div class="body-i">
    <div class="wrapper-i">
        <h1>Benvenuti al gatto pazzo</h1>
        <p>Il luogo perfetto per deliziare il vostro palato con autentiche pizze italiane cotte a legna.</p>
        <p>Orari di apertura: Lunedì - Domenica, 19:30 - 22:00</p>
        <p>Indirizzo: Via delle Margherite, 12345, Jesi</p>
        <p><i class='bx bxl-instagram'></i> <a href="https://www.instagram.com/gattopazzopizzeria/" style="color: red; font-size: 1.2em;">Seguiteci su IG</a></p>
    </div>
</div>